<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bento Bros Home</title>
  </head>
  <body>
    <main style="text-align: center; font-family: Arial, Helvetica, sans-serif">
      <h1>Welcome to Bento Bros.</h1>
      <img
        src="https://seeklogo.com/images/B/bento-sushi-logo-9E40A6CF52-seeklogo.com.png"
        alt="The logo for Bento Bros; an abstract representation of sushi"
      />
      <p style="width: 33%; margin: 10px auto">
        IN 1997, brothers Kaoru and Shuji founded Bento Bros from the love of
        their mother's lunchboxes growing up. To this day, the brothers honor
        her legacy through beautifully crafted bento boxes full of whimsy and
        fun takes on traditional Japanese cooking.
      </p>
      <br />
      <a href="/menu/">Menu</a>
    </main>
  </body>
</html>
